#!/bin/bash

WORKSPACE=$(cd $(dirname $0)/; pwd)
cd $WORKSPACE

mkdir -p var

module=swcollector
app=octopux-$module
conf=cfg.json
pidfile=var/app.pid
logfile=var/app.log
supconf=$app.conf

function check_pid() {
	running=`ps -C $app|grep -v "PID TTY"  |wc -l`
	return $running
}

function configlocal(){
	if ! [ -f /etc/supervisor/conf.d/$supconf ];then
		echo "Config file supervisord doesn't exist, creating one."
		cp $supconf /etc/supervisor/conf.d/
		supervisorctl reread
		supervisorctl update
	fi
}

function run() {
    check_pid
    running=$?
    if [ $running -gt 0 ];then
        echo -n "$app now is running already, pid="
        ps -C $app |grep -v "PID TTY" | awk '{print $1}'
        stop
    	sleep 1
    fi

    if ! [ -f $conf ];then
        echo "Config file $conf doesn't exist, creating one."
        cp cfg.example.json $conf
    fi
    ./$app -c $conf  >>$logfile 2>&1
}

function start() {
    check_pid
    running=$?
    if [ $running -gt 0 ];then
        echo -n "$app now is running already, pid=" $running
        return 1
    fi

    if ! [ -f $conf ];then
        echo "Config file $conf doesn't exist, creating one."
        cp cfg.example.json $conf
    fi
    nohup ./$app -c $conf  >>$logfile 2>&1 &
    echo $! > $pidfile
    echo "$app started..., pid=$!"
}

function stop() {
    kill $(pidof $app)
    echo "$app stoped..."
}

function restart() {
    stop
    sleep 1
    start
}

function status() {
    check_pid
    running=$?
    if [ $running -gt 0 ];then
        echo -n "$app running, pid="
        ps -C $app |grep -v "PID TTY" | awk '{print $1}'
    else
        echo "$app stoped"
		exit 1
    fi
}

function tailf() {
    tail -f $logfile
}

function build() {
    go build -o $app
    if [ $? -ne 0 ]; then
        exit $?
    fi
    ./$app -v
}

function pack() {
    build
    git log -1 --pretty=%h > gitversion
    version=`./$app -v`
    file_list="control cfg.example.json $supconf perfcounter.json $app"
    echo "...tar $app-$version.tar.gz <= $file_list"
    tar zcf $app-$version.tar.gz gitversion $file_list
}

function packbin() {
    build
    git log -1 --pretty=%h > gitversion
    version=`./$app -v`
    tar zcvf $app-bin-$version.tar.gz $app gitversion
}

function help() {
    echo "$0 build|pack|start|stop|restart|status|tail|configlocal|run"
}

if [ "$1" == "" ]; then
    help
elif [ "$1" == "stop" ];then
    stop
elif [ "$1" == "start" ];then
    start
elif [ "$1" == "run" ];then
    run
elif [ "$1" == "configlocal" ];then
    configlocal
elif [ "$1" == "restart" ];then
    restart
elif [ "$1" == "status" ];then
    status
elif [ "$1" == "tail" ];then
    tailf
elif [ "$1" == "build" ];then
    build
elif [ "$1" == "pack" ];then
    pack
elif [ "$1" == "packbin" ];then
    packbin
else
    help
fi
